# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
.Python

# Jupyter
.ipynb_checkpoints/

# Data and logs
data/
logs/
**/logs/

# Archives
archive/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
